body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
    justify-items: center;
}

form {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}